$gridLoginLeft: ("gt-sm col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-12");
.g {
  font-size: 500px;
}
.colord {
  color: blue;
}
// $my-custom-color: red;
// .my-test {
//   background-color: red;
// }
