// app global css in SCSS form
// @import url("./src/css/app.variables.scss");
.body {
  max-width: 65%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}
.bodySmall {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  // border-radius: 20px;
  border-radius: 20px 20px 20px 20px;
}
.inputBlock {
  margin-left: -13px;
  border-radius: 20px;
}
.backPicture {
  background-color: blue;
}
.loading-container {
  position: relative;
  margin-left: 40%;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: auto;
  width: 7%;
  height: 7%;
}
.loading-containerPhone {
  position: relative;
  margin-left: 40%;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: auto;
  width: 7%;
  height: 7%;
}

.customer-card {
  border: none;
  // color: red;
}

// Login style
.cardLoginPosition {
  position: fixed;
  top: 78px;
  left: 0;
  right: 0;
  bottom: 80px;
  margin: auto;
}
.cardLoginPositionless {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 80px;
  margin: auto;
}
.header-div {
  border-radius: 0px 0px 80px 80px;
  height: 285px;
}
.separator {
  height: 3px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.separatorLessThan {
  height: 3px;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.centerDiv {
  margin-left: auto;
  margin-right: auto;
}

.pending {
  background-image: url("/img/pending.jpg");
  background-size: cover;
}
.btn {
  cursor: pointer;
}
// Verify code OTP

.opt-field input {
  width: 50px;
  font-size: 32px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;

  margin: 4px;
  border: 2px solid #dfdbe7;
  background: #f8f6f6;
  font-weight: bold;
  /* color: #21232d; */
  color: #bc7a44;
  outline: none;
  transition: all 0.1s;
}
.opt-field input:focus {
  border: 2px solid #bc7a44;
  box-shadow: 0 0 5px #bc7a44;
}
.disabled {
  opacity: 0.5;
}
